#AgeNum{
    width: 150px;
    border: 1px solid black;
    
    
}
.bmi{
    border: 1px solid black;
    box-shadow: 1px 1px 10px;
    width: 450px;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bmi{
    background-color: rgb(212, 218, 157);
}
#range{
    border: 1px solid black;
    box-shadow: 1px 0px 5px;
    margin-top: 10px;
    padding: 3px;
    

}